on property:init.svc.vendor.charger=running
    # Enable UFS powersaving
    write /sys/devices/platform/11270000.ufshci/clkgate_enable 1

    # Keep one LITTLE and one big
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/devices/system/cpu/cpu4/online 0
    write /sys/devices/system/cpu/cpu5/online 0
    write /sys/devices/system/cpu/cpu7/online 0

on init
    # Disable UFS powersaving
    write /sys/devices/platform/11270000.ufshci/clkgate_enable 0

    # Boot time FS tuning
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk0/queue/nr_requests 256
    write /sys/block/sdc/queue/iostats 0
    write /sys/block/sdc/queue/nr_requests 256

    # Configure governor settings for little cluster
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "schedutil"

    # Configure governor settings for big cluster
    write /sys/devices/system/cpu/cpufreq/policy6/scaling_governor "schedutil"

    # Configure scheduler up/down_rate_limit_us
    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/down_rate_limit_us 20000
    write /sys/devices/system/cpu/cpufreq/policy6/schedutil/up_rate_limit_us 1000
    write /sys/devices/system/cpu/cpufreq/policy6/schedutil/down_rate_limit_us 10000
    
    # update cpus for cpuset cgroup
    write /dev/cpuset/foreground/cpus 0-2,4-7
    write /dev/cpuset/foreground/boost/cpus 0-7
    write /dev/cpuset/background/cpus 0-1
    write /dev/cpuset/system-background/cpus 0-2
    write /dev/cpuset/top-app/cpus 0-7

on enable-low-power
    # Enable UFS powersaving
    write /sys/devices/platform/11270000.ufshci/clkgate_enable 1

    # Runtime FS tuning
    # we should adjust the setting upon boot_complete for runtime performance
    write /sys/block/mmcblk0/queue/iostats 1
    write /sys/block/mmcblk0/queue/read_ahead_kb 512
    write /sys/block/mmcblk0/queue/nr_requests 128
    write /sys/block/sdc/queue/iostats 1
    write /sys/block/sdc/queue/read_ahead_kb 512
    write /sys/block/sdc/queue/nr_requests 128
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/dm-1/queue/read_ahead_kb 128
    write /sys/block/dm-2/queue/read_ahead_kb 128
    write /sys/block/dm-3/queue/read_ahead_kb 128
    write /sys/block/dm-4/queue/read_ahead_kb 128
    write /sys/block/dm-5/queue/read_ahead_kb 128

    write /proc/cpufreq/cpufreq_sched_disable 0
    write /proc/sys/kernel/sched_migration_cost_ns 200000

    # Enable big task rotation
    write /proc/perfmgr/boost_ctrl/eas_ctrl/sched_big_task_rotation 1

    # Configure DVFS
    write /sys/kernel/ged/hal/dvfs_margin_value 10
    write /sys/kernel/ged/hal/loading_base_dvfs_step 4

    # Configure clamps for standard task groups.
    # system-background
    # cap the max utilisation for system-background tasks to save power.
    write /dev/cpuctl/system-background/cpu.uclamp.max 40
    write /dev/cpuctl/system-background/cpu.uclamp.min 0
    write /dev/cpuctl/system-background/cpu.uclamp.latency_sensitive 0

    # foreground
    write /dev/cpuctl/foreground/cpu.uclamp.max max
    write /dev/cpuctl/foreground/cpu.uclamp.min 10
    write /dev/cpuctl/foreground/cpu.uclamp.latency_sensitive 0

    # top-app
    write /dev/cpuctl/top-app/cpu.uclamp.max max
    write /dev/cpuctl/top-app/cpu.uclamp.min 0
    write /dev/cpuctl/top-app/cpu.uclamp.latency_sensitive 0

    # background
    # cap the max utilisation for background tasks to save power.
    write /dev/cpuctl/background/cpu.uclamp.max 50
    write /dev/cpuctl/background/cpu.uclamp.min 0
    write /dev/cpuctl/background/cpu.uclamp.latency_sensitive 0

    # nnapi-hal
    write /dev/cpuctl/nnapi-hal/cpu.uclamp.max max
    write /dev/cpuctl/nnapi-hal/cpu.uclamp.min 75
    write /dev/cpuctl/nnapi-hal/cpu.uclamp.latency_sensitive 1

    # camera-daemon
    write /dev/cpuctl/camera-daemon/cpu.uclamp.max max
    write /dev/cpuctl/camera-daemon/cpu.uclamp.min 0
    write /dev/cpuctl/camera-daemon/cpu.uclamp.latency_sensitive 1

    # Uclamp tuning
    write /proc/sys/kernel/sched_util_clamp_min_rt_default 96
    write /proc/sys/kernel/sched_util_clamp_min 128

    # Enable PowerHAL hint processing
    setprop vendor.powerhal.init 1

on property:sys.boot_completed=1
    trigger enable-low-power

service vendor.hwcomposer-2-2 /vendor/bin/hw/android.hardware.graphics.composer@2.2-service
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    task_profiles HighPerformance
    override
